<div class="operations">
    <span class="item" ng-click="qc.addCriterion()"><i class="fa fa-plus adder"></i></span>
    <span class="item" ng-click="qc.removeCriterion(c)"><i class="fa fa-times remover"></i></span>
    <input class="item" type="checkbox" ng-model="c.selected" ng-change="qc.updateGroupable()" />
</div>
<div class="selections">
    <select class="item" ng-if="qc.chainable(c)" ng-model="c.chain.type">
        <option ng-repeat="option in c.chain.options">{{option}}</option>
    </select>
    <select class="item" ng-model="c.field">
        <option ng-repeat="field in qc.fields">{{field}}</option>
    </select>
    <select class="item" ng-model="c.operator">
        <option ng-repeat="operator in qc.operators">{{operator}}</option>
    </select>
    <input class="criterion-value" type="text" ng-model="c.value.text" />
</div>
